* {
     border: red 1px solid;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
}

:root {
    --main-bg-color: #1F2937;
    --main-text-color: #F9FAF8;
    --secondary-text-color: #e5e7eb;
    --primary-color-button: #3882f6;
    --padding-default: 0.5rem 1rem 0.5rem 0rem;
    --padding-between-content: 3vw;

}

body {
    margin: 0 auto;
}

#Hero{
    padding-top: var(--padding-between-content);
    padding-bottom: var(--padding-between-content);
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
}

#HeroImage{
    flex-basis: 50%;
    background-color: #919191;
    color: var(--main-text-color);
}

#heroLeftContent{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#HeroMainText{
    font-size: 48px;
    color: #F9FAF8;
    flex-basis: 50%;
    padding: var(--padding-default);
}

#HeroSubText{
    font-size: 18px;
    color: var(--main-text-color);
    padding: var(--padding-default);
}

#HeroButton{
    background-color: var(--primary-color-button);
    color: var(--main-text-color);
    border-radius: 8px;
    text-align: center;
    width: 125px;
    padding: 8px 22px;
}

header {
    flex: 1 1 auto;
    display: flex;
    padding: var(--padding-default);
    width: 75%;
    margin: 0 auto;
}

#NavLinks{
    text-decoration: none;
    text-align: end;
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

#InfoContent{
    padding-bottom: var(--padding-between-content);
    width: 75%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
}

#InfoContent h2{
    font-size: 36px;
    text-align: center;
    color: #1f2937;
    padding-bottom: var(--padding-between-content);
}

.InfoSection{   
    
    text-align: center;
    color: var(--main-text-color);
    width: 75%;
    
}

.InfoImage{
    border: 4px solid var(--primary-color-button);
    border-radius: 10px;
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
}

.InfoSection p{
    color: gray;
    width: 10rem;
    margin: 0 auto;
    padding-top: 0.5rem;
}

#HeaderLogo {
    font-size: 24px;
    color: #F9FAFB;
    align-self: start;

}

.SecondaryText{
    font-size: 18px;
    color: #e5e7eb;
}

#QuoteSection{
    width: 75%;
    flex: 1 1 auto;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    
}

#QuoteText{
    font-size: 36px;
    color: #1f2937;
    padding: 5rem 2rem 0rem 2rem;
}

#QuoteAuthor{
    padding: var(--padding-default);
    text-align: end;
    padding: 0rem 5rem 5rem 0rem;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
a:active {
    text-decoration: none;
}

.center-vertically {
    display: flex;
    align-items: center;
}

.Grid-horz{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

.bg-white{
    background-color:#F9FAF8;
}

.bg-gray{
    background-color: var(--secondary-text-color);
}