* {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
}

:root {
    --main-bg-color: #1F2937;
    --main-text-color: #F9FAF8;
    --secondary-text-color: #e5e7eb;
    --primary-color-button: #3882f6;
}

body {
    width: 75%;
    margin: 0 auto;
}

#Hero{
    padding-top: 10vw;
    padding-bottom: 10vw;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    
}

#HeroImage{
    flex-basis: 50%;
    background-color: #919191;
    color: var(--main-text-color);
}

#heroLeftContent{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#HeroMainText{
    font-size: 48px;
    color: #F9FAF8;
    flex-basis: 50%;
    padding: 1rem 1rem;
}

#HeroSubText{
    font-size: 18px;
    color: var(--main-text-color);
    padding: 1rem 1rem;
}

#HeroButton{
    background-color: #3882f6;
    color: var(--main-text-color);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    width: 25%;
}

header {
    flex: 1 1 auto;
    display: flex;
    padding: 1rem 1rem;
}

#NavLinks{
    text-decoration: none;
    text-align: end;
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

/* Text styling */

#HeaderLogo {
    font-size: 24px;
    color: #F9FAFB;
    align-self: start;
}

.SecondaryText{
    font-size: 18px;
    color: #e5e7eb;
}

/* Link styling */


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
a:active {
    text-decoration: none;
}

.center-vertically {
    display: flex;
    align-items: center;
}

